body{
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, .navbar-custom .navbar-brand{
    font-family: 'Archivo Black', sans-serif;
}

	background-color: #0B223C;
}

.navbar-custom .navbar-brand{
	color: #A6D24D;
	padding: 15px;
}

.navbar-custom .navbar-toggler{
	border-color: none;
}

.navbar-custom .nav-link{
	background-color: #AFD16B;
	color: #081F3B;
}
	color: #0B223C;
}

div.menu-tile{
	background-color: #F0F0F0;
	padding: 15px;
	margin-bottom: 15px;
}

div.menu-tile p{
	color: #1B2127;
}

div.menu-tile h3{
	color: #8DBC2F;
}

#menu-header{
	margin: 20px;
	margin-bottom: 40px;
}

a.link-top, a.link-top:hover{
	text-decoration: none;
	font-style: italic;
}

a.link-top{
	color: #2878D4;
}